<div class="hero-unit">

  <h1>Welcome!</h1>

  <div ng-show="rooms.length > 0">
    <p>Join one of the existing rooms... </p>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="room in rooms">
        <a ng-href="room/{{room.name}}">{{room.name}}</a>
      </li>
    </ul> 
    
    <p>...or create a new one<p>
  </div>

  <div ng-show="rooms.length == 0">
    <p>There are currently no active rooms. But you can create your own...
  </div>
  <a class="btn btn-primary btn" ng-click="createRoom()"><i class="icon-plus-sign icon-white"></i> New room</a>

</div>